.video-container {
  background: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  text-align: center;
}

.video-container:hover {
  transform: scale(1.05);
}

.video-container video {
  border-radius: 8px;
  width: 100%;
  height: auto;
}

.video-container h5 {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  margin-top: 10px;
}
.videos{
  padding-top: 100px;
}

.text-cente{
  text-align: center;
  font-size: 2rem;
  color: #2c3e50;
  margin-bottom: 1.5rem;
  font-weight: bold;
  position: relative;
}

.text-cente::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background: #e74c3c;
  margin: 10px auto 0;
}